html,body {
    height: 100%;
}

.nagbar {
    overflow-y: visible;
    padding: 16px;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page {
    flex-grow: 1;
    flex-direction: column;
}

.content {
    padding-bottom: 0px;
}
