name: build & deploy book (next)

on:
  push:
    branches: [next]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: "latest"

      - run: sh -c "echo '<meta name=\"robots\" content=\"noindex\">' >> theme/head.hbs"

      - run: mdbook build

      - name: Deploy to Github pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.BOOK_DEPLOY_KEY }}
          external_repository: bevy-cheatbook/bevy-cheatbook.github.io
          destination_dir: next
          publish_dir: ./book
